/*
	Default attributes
*/
*
{
	border-radius: 0 !important;
}

html
{
	height: 100%;
	max-height: 100%;
}

body
{
	width: auto;
	height: 100%;

	padding-top: 70px;
}

.container
{
	height: 100%;
}

/*
	Bootstrap overrides
	Misc
*/
.spoiler
{
	background-color: black;
	color: black;
	padding: 3px;
}

.spoiler:hover
{
	color: white;
	cursor: default;
}

.row
{
	padding-bottom: 9px !important;
}

.thumbnail
{
	border-color: black;
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail:active:focus
{
	color: #FF5600;
	border-color: #FF5600 !important;
}

/*
	Misc end
*/

/*
	Panel start
*/
.panel-header
{
	overflow: hidden;
	background-color: #EEEEEE;
}

.panel-header > a:hover,
.panel-header > a:focus,
.panel-header > a:active:focus
{
	color: #A9F5F2;
}

/*
	Panel end
*/

/*
	Button start
*/
.btn-upload
{
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.btn-upload input
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 13px;
	cursor: pointer;
}

.btn-bb
{
	background-color: #2C3E50;
	color: white;
	border-color: #19242E;
	margin-bottom: 3px;
	font-size: 15px;
}

.btn-bb:hover,
.btn-bb:focus,
.btn-bb:active:focus
{
	color: white;
	background-color: #243342;
}
/*
	Button end
*/

/*
	Own styles
	Sidebar start
*/
@media screen and (max-width: 767px)
{
	.fullsize
	{
		width: 100%;
	}
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

		#main-nav sidebar

	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
@media screen and (max-width: 991px)
{
	.sidebar
	{
		z-index: 1 !important;
		width: 40% !important;
	}

	.sidebarshow
	{
		width: 0 !important;
	}

	#showmenu
	{
		display: inherit;
	}
}

@media screen and (min-width: 992px)
{
	#sidebar
	{
		width: 15% !important;
	}
}

#sidebar
{
	z-index: 1;
    width: 15%;
	height: 100%;
    float: left;
    position: fixed;
    top: 50px;
    bottom: 0;
    padding: 20px 0 50px 0;
	overflow-y: auto;
    border: solid #EEEEEE;
    border-width: 1px 1px 0 0;
	background-color: white !important;
}


#sidebar .list-group-item
{
	border: 0;
}

#sidebar .active,
#sidebar .active:focus,
#sidebar .active:active:focus
{
	background-color: #FF5600;
}

#sidebar .list-group-item:hover,
#sidebar .list-group-item:focus,
#sidebar .list-group-item:active:focus
{
	background-color: #FF5600;
	color: white;
}

#sidebar::-webkit-scrollbar
{
	width: 8px;
}

#sidebar::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
/*
	Sidebar end
*/
.avatar
{
	width: 100%;

	padding: 13px;
	vertical-align: middle;
	text-align: center;

	border: 1px solid black;
	border-radius: 10px !important;
}

.avatar-width
{
	width: 99%;
}

@media screen and (max-width: 991px)
{
	.avatar-width
	{
		width:auto;
	}

	.avatar
	{
		margin-bottom: 7px;
		width: 99%;
		margin-left: 7px;
	}
}

.recentactivity
{
	margin-top: 4px;
	border-left: 3px solid #FF5600 !important;
	padding: 10px;
	background-color: #EEEEEE;
}

.upload-image
{
	vertical-align: top;
	width: 100px;
	height: 100px;
	border: 2px solid grey;
	margin: 3px;
}

.upload-image-selected
{
	border: 2px solid #FF6C00;
}

.cutofftextfile
{
	white-space: normal;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
}

.uploadfile { color: black; font-size: 50px !important; }

.row-buffer-10
{
	padding-top: 10px;
}

.user
{
	padding: 10px 15px;
    margin-bottom: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: #EEEEEE;
}

@media screen and (min-width: 0px) and (max-width: 582px) {
	.friendtile
	{
		width: 98%;
	}
}

@media screen and (min-width: 583px) and (max-width: 1154px) {
	.friendtile
	{
		width: 49%;
	}
}

@media screen and (min-width: 1155px) {
	.friendtile
	{
		width: 33%;
	}
}

.friendtile
{
	margin-right: 3px;
	margin-bottom: 3px;
	border: 1px solid black;
	height: 80px;
	padding: 0 5px 0 5px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.friendtile:hover
{
	border: 1px solid #FF5600;
}


.content
{
    width: 85%;
    float: right;
	height: 100%;
    padding: 0 25px 40px 25px;
}

@media (max-width: 991px){
    .content {
        width: 100%;
        padding: 0 0 40px 0;
    }
}

@media (max-width: 767px) {
	.content p
	{
		font-size: 11px;
	}
}

/*
	Live preview start
*/
div.live-preview
{
	border: 1px solid black;
	border-left-color: #FF5600;
	border-left-width: 5px;
	padding: 5px 5px 13px 20px;
}

span.live-preview
{
	border: 2px solid green;
	padding: 3px;
	background-color: rgb(0, 255, 0);
	background-color: rgba(0, 255, 0, 0.35);
}

span.live-preview-username
{
	background-color: rgb(120, 123, 222);
	background-color: rgba(120, 123, 222, 0.35);
	border: 2px solid #787bde;
	padding: 3px;
}
/*
	Live preview end
*/

/*
	Changelog entry start
*/
div.changelog
{
	border: 1px solid black;
	border-left-color: #FF5600;
	border-left-width: 5px;
	padding: 13px 5px 13px 20px;
	margin-bottom: 5px;
}

span.changelog
{
	border: 2px solid green;
	padding: 3px;
	background-color: rgb(0, 255, 0);
	background-color: rgba(0, 255, 0, 0.35);
}

span.changelog-username
{
	background-color: rgb(120, 123, 222);
	background-color: rgba(120, 123, 222, 0.35);
	border: 2px solid #787bde;
	padding: 3px;
}
/*
	Changelog entry end
*/
#addfriend
{
	color: white;
	border: 0;
	cursor: pointer;
}

li.pull-right.mutualfriend,
#addfriend + li.pull-right.mutualfriend > span,
li.pull-right.mutualfriend:hover,
li.pull-right.mutualfriend > a#addfriend:hover,
#addfriend + li.pull-right.mutualfriend > span:hover
{
	background-color: #FF5600;
	border: 0 !important;
}

li.pull-right.notmutualfriend,
#addfriend + li.pull-right.notmutualfriend > span,
li.pull-right.notmutualfriend:hover,
li.pull-right.notmutualfriend > a#addfriend:hover,
#addfriend + li.pull-right.notmutualfriend > span:hover
{
	background-color: green;
	border: 0 !important;
}

.addfriend
{
	color: #FF5600;
	cursor: pointer;
}

.invis
{
	display: none;
}

a.edit
{
	font-size: 13px;
}

a.edit:hover
{
	font-size: 13px;
}

/*
	Items for in the blog page
*/
.blogtable
{
	max-height: 100%;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 3px;
}

.customblog
{
	overflow-x: scroll;
	/*overflow-y: hidden;*/
	max-height: 150px;
	white-space: nowrap;
}

.blogblock
{
	margin: 5px;
	width: 200px;
	height: 100px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;

	white-space: pre-line;
	overflow: auto;

	transition: border-color .2s ease-in-out;
	cursor: pointer;

	color: black;
}

.blogblock:hover
{
	border-color: #FF5600;
}

.blogline
{
	border: none;
	height: 3px;
	background-color: black;
	color: black;
}

.customblog::-webkit-scrollbar
{
	height: 8px;
}

.customblog::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.blogtable::-webkit-scrollbar
{
	width: 8px;
}

.blogtable::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.usersearch
{
	width: 99%;
	border: 1px solid black;
	padding: 10px;
	padding-left: 20px;
	margin-bottom: 3px;
}

.usersearch:hover
{
	background-color: #EEEEEE;
	border: 1px solid #FF5600;
}

.message
{
	width: 99%;
	border: 1px solid black;
	padding: 10px;
	padding-left: 20px;
	margin-bottom: 3px;
}

.message:hover
{
	cursor: pointer;
	background-color: #EEEEEE;
	border: 1px solid #FF5600;
}

.messagebox
{
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #FF5600;
}

.quote-box
{
	box-shadow: 2px 2px 5px #888888,
				-2px -2px 5px #888888;
	padding: 7px;
	margin: 3px 3px 7px 3px;
}

.quote-quote
{
	margin-top: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.quote-by
{
	margin-bottom: 3px;
	font-style: italic;
}

.showmessage
{
	border: 1px solid #ddd; padding: 7px;
	white-space: normal;
	overflow-wrap: break-word;
}

.gotop
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	line-height: normal;

	border-radius: 8px !important;
	border: 1px solid #FF5600;
	color: black;

	position: fixed;
	bottom: 10;
	right: 10;

	height: 50px;
	width: 50px;
	cursor: pointer;
}

.gotop i
{
	position: relative;
	font-size: 20;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
